* {
    box-sizing: border-box;
}

body {
    background-color: rgb(64, 175, 27);
}


h1 {
    color: rgb(0, 22, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 10px;
}


.lvl {
    text-align: center;
    margin-bottom: 10px;
}

button {
    background-color: rgb(0, 39, 0);
    color: lightgreen;
    border-radius: 10%;
}

button:hover {
    cursor: pointer;
    background-color: darkgreen;
}

.dark {
    background-color: rgb(0, 49, 0);
    color: white;
}

.DM {
    background-color: black;
    display: block;
    margin: auto;
    text-align: center;
}


.display {
    text-align: center;
}

.timer {
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mines {
    display: inline;
    margin-left: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lives {
    /* color: lightgreen;
    background-color: rgb(2, 29, 2); */
    width: 40%;
    margin: auto;
    padding: 5px;
}

.hint {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    margin: auto 2px;
    padding: 1px;
}

.hintMode{
    background-color: yellow;
}

.hide{
    display: none;
}

.smiley {
    background-color: rgb(0, 39, 0);
    border-radius: 10%;
    margin-bottom: 10px;
}

.safe {
    background-color: rgb(4, 152, 4);
    display: block;
    margin: auto;
    text-align: center;
}

.board-container {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cell {
    text-align: center;
    border: 1px solid black;
    border-radius: 10%;
    background-color: darkgreen;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
}

.safeClick {
    background-color: lightgreen;
}


.wrong {
    background-color: darkred;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(3, 168, 3);
}

.shown {
    background-color: rgb(54, 200, 54);
    border: 1px solid white;
}

.shown:hover {
    cursor: default;
    background-color: white;
}

.wrong:hover {
    background-color: darkred;
}


.footer {
    text-align: center;
    color: white;
    width: 30%;
    margin: auto;
    padding: 10px;
    /* height: 30px; */
    background-color: rgb(0, 31, 0);
}